#
# The target host/mask is the last (right-most) field.
# For a given target host/mask, masks are applied in the order left to right.
# The DEFAULT mask is always applied first.
#
DEFAULT ftlos024 ftlos035
DEFAULT REDX86 ftlos014
DEFAULT REDX86 ftlos027
DEFAULT SOLARIS SOLX86 ftlow040
DEFAULT SOLARIS SOLX86 PRODUCTION JAV SVCTL2 FRAPI jav11
DEFAULT SOLARIS SOLX86 PRODUCTION JAV SVCTL2 FRAPI jav12
DEFAULT SOLARIS SOLX86 PRODUCTION JAV SVCTL2 FRAPI jav13
DEFAULT SOLARIS SOLX86 PRODUCTION WEBSERVICES jav14
DEFAULT REDX86 PRODUCTION JAV jav01
DEFAULT SOLARIS SOLX86 PRODUCTION JAV SVCTL2 FRAPI jav02
#DEFAULT SOLARIS SOLX86 PRODUCTION WEBSERVICES ws01
DEFAULT REDX86 PRODUCTION WEBSERVICES ws02
DEFAULT REDX86 SVCTL2 cfg01
DEFAULT REDX86 web01
#
DEFAULT REDX86 DEV JAV INT int01
DEFAULT SOLARIS SOLX86 DEV JAV INT int02
DEFAULT SOLARIS SOLX86 ftlos002
DEFAULT SOLARIS SOLX86 DEV JAV intjav03
DEFAULT REDX86 JAV intjav04
DEFAULT REDX86 JAV intjav05
DEFAULT SOLARIS SOLX86 DEV WEBSERVICES intws03
#DEFAULT SOLARIS SOLX86 DEV WEBSERVICES intws04
DEFAULT REDX86 DEV STG JAV stg-cfg01
DEFAULT SOLARIS SOLX86 DEV STG WEBSERVICES stg-ws02
DEFAULT SOLARIS SOLX86 DEV STG JAV stg-jav01
DEFAULT SOLARIS SOLX86 DEV STG JAV stgjav02
DEFAULT SOLARIS SOLX86 DEV STG TRANSPORT stgtpt01
#
# Database Group
#
DEFAULT SOLARIS SOLSPARC DEV db01
DEFAULT SOLARIS SOLSPARC DEV dev-db01
DEFAULT SOLARIS SOLSPARC DEV dev-db02
DEFAULT SOLARIS SOLSPARC DEV stg-danni 
DEFAULT SOLARIS SOLSPARC kylie
DEFAULT SOLARIS SOLSPARC danni
DEFAULT REDX86 DEV rhino1
#
# Transport Group
#
DEFAULT REDX86 PRODUCTION TRANSPORT tpt01
DEFAULT REDX86 PRODUCTION TRANSPORT tpt03
DEFAULT SOLARIS SOLX86 PRODUCTION TRANSPORT SVCTL2 tpt04
DEFAULT SOLARIS SOLX86 PRODUCTION TRANSPORT SVCTL2 tpt06
DEFAULT SOLARIS SOLX86 PRODUCTION TRANSPORT SVCTL2 cfg02
#DEFAULT SOLARIS SOLX86 PRODUCTION TRANSPORT tpt05
DEFAULT REDX86 TRANSPORT int-tpt01
#DEFAULT REDX86 TRANSPORT ftlos008
#
# dev zones...
DEFAULT SOLARIS SOLX86 DEV ftlos013
DEFAULT SOLARIS SOLX86 ZONES013 TRANSPORT DEV ftlos013a
DEFAULT SOLARIS SOLX86 ZONES013 TRANSPORT DEV ftlos013b
DEFAULT SOLARIS SOLX86 ZONES013 JAV DEV ftlos013c
DEFAULT SOLARIS SOLX86 ZONES013 DEV ftlos013d
DEFAULT SOLARIS SOLX86 ZONES013 DEV ftlos013e
#DEFAULT SOLARIS SOLX86 ZONES013 ftlos013g
#
# AKA as ops01
DEFAULT SOLARIS SOLX86 PRODUCTION WEBSERVICES ops01
#
#
