#
# The target host/mask is the last (right-most) field.
# For a given target host/mask, masks are applied in the order left to right.
# The DEFAULT mask is always applied first.
#
#
DEFAULT SOLARIS SOLX86 SOLX64 DEV GLOBAL ftlos029
DEFAULT SOLARIS SOLX86 SOLX64 DEV APP ftlos029a
DEFAULT SOLARIS SOLX86 SOLX64 DEV APP ftlos029b
DEFAULT SOLARIS SOLX86 SOLX64 DEV APP ftlos029c
DEFAULT SOLARIS SOLX86 SOLX64 DEV APP ftlos029d
DEFAULT SOLARIS SOLX86 SOLX64 DEV APP ftlos029e
DEFAULT SOLARIS SOLX86 SOLX64 DEV APP ftlos029f
DEFAULT SOLARIS SOLX86 SOLX64 DEV APP ftlos029g
DEFAULT SOLARIS SOLX86 SOLX64 DEV APP ftlos029h
DEFAULT SOLARIS SOLX86 SOLX64 DEV APP ftlos029i
DEFAULT SOLARIS SOLX86 SOLX64 DEV APP ftlos029j
DEFAULT SOLARIS SOLX86 SOLX64 DEV APP ftlos029k
DEFAULT SOLARIS SOLX86 SOLX64 DEV APP ftlos029l
DEFAULT SOLARIS SOLX86 SOLX64 DEV APP ftlos029m
DEFAULT SOLARIS SOLX86 SOLX64 DEV APP ftlos029n
DEFAULT SOLARIS SOLX86 SOLX64 DEV APP ftlos029o
DEFAULT SOLARIS SOLX86 SOLX64 DEV APP ftlos029p
DEFAULT SOLARIS SOLX86 SOLX64 DEV APP ftlos029q
DEFAULT SOLARIS SOLX86 SOLX64 DEV APP SIM ftlos029r
DEFAULT SOLARIS SOLX86 SOLX64 DEV APP ftlos029s
DEFAULT SOLARIS SOLX86 SOLX64 DEV APP JMS DB SIM ftlos029t
#
DEFAULT SOLARIS SOLX86 SOLX64 DEV GLOBAL ops02
DEFAULT SOLARIS SOLX86 SOLX64 DEV TRIAL DB ops02a
DEFAULT SOLARIS SOLX86 SOLX64 DEV TRIAL JMS ops02b
DEFAULT SOLARIS SOLX86 SOLX64 DEV TRIAL APP ops02c
DEFAULT SOLARIS SOLX86 SOLX64 DEV TRIAL APP ops02d
DEFAULT SOLARIS SOLX86 SOLX64 DEV TRIAL OPS APP ops02e
DEFAULT SOLARIS SOLX86 SOLX64 DEV TRIAL SIM ops02f
#
DEFAULT SOLARIS SOLX86 SOLX64 DEM GLOBAL fxt001
#
DEFAULT SOLARIS SOLX86 SOLX64 DEM APP DB SIM fxt001a
DEFAULT SOLARIS SOLX86 SOLX64 DEM APP JMS fxt001b
DEFAULT SOLARIS SOLX86 SOLX64 DEM APP fxt001c
#
DEFAULT SOLARIS SOLX86 SOLX64 GLOBAL V2L fxt003
DEFAULT SOLARIS SOLX86 SOLX64 V2L DB JMS fxtjmsa
DEFAULT SOLARIS SOLX86 SOLX64 GLOBAL V2L fxt004
DEFAULT SOLARIS SOLX86 SOLX64 V2L DB JMS fxtjmsb
DEFAULT SOLARIS SOLX86 SOLX64 GLOBAL V2L fxt005
DEFAULT SOLARIS SOLX86 SOLX64 V2L APP app05a
DEFAULT SOLARIS SOLX86 SOLX64 V2L OPS ops05a
DEFAULT SOLARIS SOLX86 SOLX64 V2L APP app05b
DEFAULT SOLARIS SOLX86 SOLX64 GLOBAL V2L fxt006
DEFAULT SOLARIS SOLX86 SOLX64 V2L APP app06a
DEFAULT SOLARIS SOLX86 SOLX64 V2L OPS ops06a
DEFAULT SOLARIS SOLX86 SOLX64 V2L APP app06b
# 
DEFAULT SOLARIS SOLX86 SOLX64 GLOBAL V2L fxt009
DEFAULT SOLARIS SOLX86 SOLX64 V2L APP app09a
DEFAULT SOLARIS SOLX86 SOLX64 V2L APP app09b
DEFAULT SOLARIS SOLX86 SOLX64 V2L APP app09c
DEFAULT SOLARIS SOLX86 SOLX64 GLOBAL V2L fxt010
DEFAULT SOLARIS SOLX86 SOLX64 V2L APP app10a
DEFAULT SOLARIS SOLX86 SOLX64 V2L APP app10b
DEFAULT SOLARIS SOLX86 SOLX64 V2L APP app10c
#
DEFAULT SOLARIS SOLX86 GLOBAL ftlow050
#
DEFAULT SOLARIS SOLX86 SOLX864 DEV JMS APP rhino1b
#
DEFAULT SOLARIS SOLX86 SOLX64 GLOBAL FYT fyt002
DEFAULT SOLARIS SOLX86 SOLX64 FYT DB dby02a
DEFAULT SOLARIS SOLX86 SOLX64 GLOBAL FYT fyt003
DEFAULT SOLARIS SOLX86 SOLX64 FYT APP appy03a
DEFAULT SOLARIS SOLX86 SOLX864 FYT JMS stgjmsa
DEFAULT SOLARIS SOLX86 SOLX64 GLOBAL FYT fyt004
DEFAULT SOLARIS SOLX86 SOLX64 FYT APP appy04a
DEFAULT SOLARIS SOLX86 SOLX64 FYT APP appy04b
DEFAULT SOLARIS SOLX86 SOLX64 FYT APP stgjmsb
DEFAULT SOLARIS SOLX86 SOLX64 GLOBAL FYT fyt005
DEFAULT SOLARIS SOLX86 SOLX64 FYT APP SIM appy05a
DEFAULT SOLARIS SOLX86 SOLX64 FYT APP appy05b
DEFAULT SOLARIS SOLX86 SOLX64 FYT APP appy05c
#
DEFAULT SOLARIS SOLX86 SOLX64 GLOBAL QA fyt006
DEFAULT SOLARIS SOLX86 SOLX64 QA APP SIM appy06a
DEFAULT SOLARIS SOLX86 SOLX64 QA APP appy06b
DEFAULT SOLARIS SOLX86 SOLX64 QA APP appy06c
DEFAULT SOLARIS SOLX86 SOLX64 QA APP appy06d
DEFAULT SOLARIS SOLX86 SOLX64 QA APP appy06e
DEFAULT SOLARIS SOLX86 SOLX64 QA APP appy06f
DEFAULT SOLARIS SOLX86 SOLX64 QA APP appy06g
DEFAULT SOLARIS SOLX86 SOLX64 QA APP appy06h
DEFAULT SOLARIS SOLX86 SOLX64 QA APP appy06i
DEFAULT SOLARIS SOLX86 SOLX64 QA APP appy06j
DEFAULT SOLARIS SOLX86 SOLX64 QA APP appy06k
DEFAULT SOLARIS SOLX86 SOLX64 QA APP appy06l
DEFAULT SOLARIS SOLX86 SOLX64 QA APP appy06m
DEFAULT SOLARIS SOLX86 SOLX64 QA APP appy06n
DEFAULT SOLARIS SOLX86 SOLX64 QA APP appy06o
DEFAULT SOLARIS SOLX86 SOLX64 QA APP appy06p
#
DEFAULT SOLARIS SOLX86 SOLX64 GLOBAL QA fyt007
DEFAULT SOLARIS SOLX86 SOLX64 FYT QA DB SIM appy07a
DEFAULT SOLARIS SOLX86 SOLX64 FYT QA appy07b
DEFAULT SOLARIS SOLX86 SOLX64 FYT QA appy07c
DEFAULT SOLARIS SOLX86 SOLX64 FYT QA appy07d
DEFAULT SOLARIS SOLX86 SOLX64 FYT QA appy07e
DEFAULT SOLARIS SOLX86 SOLX64 FYT QA appy07f
DEFAULT SOLARIS SOLX86 SOLX64 FYT QA appy07g
DEFAULT SOLARIS SOLX86 SOLX64 FYT QA appy07h
DEFAULT SOLARIS SOLX86 SOLX64 FYT QA appy07i
DEFAULT SOLARIS SOLX86 SOLX64 FYT QA appy07j
DEFAULT SOLARIS SOLX86 SOLX64 FYT QA appy07k
DEFAULT SOLARIS SOLX86 SOLX64 FYT QA appy07l
DEFAULT SOLARIS SOLX86 SOLX64 FYT QA appy07m
DEFAULT SOLARIS SOLX86 SOLX64 FYT QA appy07n
DEFAULT SOLARIS SOLX86 SOLX64 FYT QA appy07o
#
#
DEFAULT SOLARIS SOLX86 SOLX64 GLOBAL DEV APP ftlow040
DEFAULT SOLARIS SOLX86 SOLX64 GLOBAL DEV APP ftlow037
DEFAULT SOLARIS SOLX86 SOLX64 GLOBAL DEV APP ftlow029
#
#
DEFAULT SOLARIS SOLX86 SOLX64 GLOBAL DEV APP int02
#
